/* nodes */
.node rect {
  fill: white !important;
  stroke: #333 !important;
  stroke-width: 1.5px !important;
}

/* conditioned nodes */
.conditioned > rect {
  fill: #d9d9d9 !important;
  stroke: #333 !important;
  stroke-width: 2px !important;
}

/* edges */
.edgePath .path,
.flowchart-link {
  stroke: #333 !important;
  stroke-width: 2px !important;
}

/* dashed = closed */
.edgePath.dashed .path {
  stroke-dasharray: 5 5 !important;
}

/* arrowheads */
marker path {
  fill: #333 !important;
}